@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Quicksand', sans-serif !important;
}

img {
  display: unset !important;
}

.text-shadow {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.10);
}